<body>
<li>¿Crees que HTML es una buena tecnología?
  <ul>
  <li><input type="radio" name="preg1" value="1" /> Sí</li>
  <li><input type="radio" name="preg1" value="2" /> No</li>
  <li><input type="radio" name="preg1" value="3" /> Ns/Nc</li>
  </ul>
</li>
####<h1>Parece que esto funciono!!! QUE ALIVIO!!!</h1>
</body>